.content-wrap {
    margin-top: 20px;
    .content-border {
        border: 1px solid #eee;
        padding: 20px;
    }
    .content-title {
        border-bottom: 1px solid #eee;
        padding-bottom: 20px;
    }
    .btn-right {
        float: right;
    }
    .tree {
        clear: both;
        margin-top: 20px;
    }
}
.add-dialog {
    .el-input {
        width: 180px;
        margin-right: 10px;
    }
}
/* 滚动条有滑块的轨道部分 */
::-webkit-scrollbar-track-piece {
    background-color: #00000000;
    border-radius: 1px;
}

/* 整个滚动条 */
::-webkit-scrollbar {
    width: 6px;
    height: 100%;
}

/* 滚动条竖向滑块 */
::-webkit-scrollbar-thumb:vertical {
    width: 6px;
    height: 6px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 3px;
}

/* 滚动条竖向滑块hover */
::-webkit-scrollbar-thumb:vertical:hover {
    background-color: rgba(0, 0, 0, .5);
}
/* 滚动条横向滑块 */
::-webkit-scrollbar-thumb:horizontal {
    width: 6px;
    height: 6px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 3px;
}

/* 滚动条横向滑块hover */
::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: rgba(0, 0, 0, .5);
}

/* 同时有垂直和水平滚动条时交汇的部分 */
::-webkit-scrollbar-corner {
    display: block;    /* 修复交汇时出现的白块 */
}